.navbar-container {
    padding-right: 0;
    padding-left: 55px;
}

.navbar-left-items {
    margin-top: 5px;
}

.navbar-brand {
    margin-right: auto;
}

#logo-img {
    width: 120px;
}

.navbar-tel {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.nav-links {
    margin-left: auto;
}

.nav-links .nav-item:not(:first-child, :nth-child(2)) {
    margin-right: 20px;
}

.nav-links .nav-link {
    color: black;
}

span.stretch {
    font-size: 10px;
    display:inline-block;
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    transform:scale(2,1); /* W3C */
}

.back-call-button {
    max-width: 130px;
    text-align: center;
}

.btn-warning {
    border-radius: 15px;
    background-color: #ffe500;
    border-color: #ffe500;
    color: black;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}

.nav-links .btn-warning {
    max-width: 130px;
    text-align: center;
}

.breadcrumb {
    margin-top: 40px;
    padding-left: 50px;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: unset;
}

.breadcrumb-item+.breadcrumb-item::before
{
    padding-right: unset;
}

.breadcrumb-item,
.breadcrumb-item a {
    text-decoration: none;
    color: gray;
    font-size: 11px;
    font-style: italic;
}

.div-img-4 {
    position: relative;
    margin-top: -50px;
}

span.flattened {
    display:inline-block;
    -webkit-transform:scale(1,1.1); /* Safari and Chrome */
    -moz-transform:scale(1,1.1); /* Firefox */
    -ms-transform:scale(1,1.1); /* IE 9 */
    -o-transform:scale(1,1.1); /* Opera */
    transform:scale(1,1.1); /* W3C */
}

.img-4-text {
    position: absolute;
    color: white;
    margin-top: 8%;
    margin-left: 57%;
}

.img-4-text p:first-child {
    font-weight: 600;
    font-size: 45px;
}

.img-4-text p:nth-child(2) {
    font-weight: 600;
    font-size: 20px;
    margin-top: -0.6em;
}

.img-4-text ul {
    font-weight: 600;
    font-size: 18px;
    padding-left: 1.5em;
    margin-top: 2em;
    margin-bottom: 50px;
}

.img-4-text .btn-warning {
    padding: 10px 20px;
}

.img-4 {
    width: 100%;
}

.text-section {
    padding: 50px 10px 20px 50px;
    font-size: 20px;
}

.text-section p:nth-child(3){
    margin-bottom: 0;
}

.service {
    margin-bottom: 100px;
}

.service .btn-warning {
    margin-top: 30px;
    position: relative;
    width: 400px;
    font-size: 20px;
    padding: 15px 0;
    border-radius: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}

.requirements {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.requirements .lambers {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.requirements .lambers img {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 40px;
}

.requirements .lamber-1,
.requirements .lamber-2
{
    position: relative;
    height: 200px;
    width: 250px;
    border-radius: 30px;
    background-color: #2b2b2b;
    color: white;
    font-size: 14px;
}

.supplies {
    background-color: #2b2b2b;
    color: white;
    margin-top: 80px;
}

.supplies p:first-child {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.supplies .lambers {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.supplies .lambers p {
    font-size: 20px;
}

.supplies .lambers img{
    width: 330px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.supplies .lambers div.supplies-link {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.supplies .lambers div.supplies-link a {
    padding-bottom: 2px;
}

.supplies .lambers div.supplies-link a:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
}

.about {
    background-color: #ffe500;
    padding: 30px 0 30px 70px;
}

.about .section-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    -webkit-transform:scale(1,1.1); /* Safari and Chrome */
    -moz-transform:scale(1,1.1); /* Firefox */
    -ms-transform:scale(1,1.1); /* IE 9 */
    -o-transform:scale(1,1.1); /* Opera */
    transform:scale(1,1.1); /* W3C */
}

.about-content {
    position: relative;
}

.about .text {
    width: 45%;
    font-size: 17px;
    line-height: 22px;
}

.about .text span {
    font-weight: bold;
}

.about img {
    position: absolute;
    width: 370px;
    top: 0;
    right: 60px;
}

.questions {
    padding: 150px 60px 50px 60px;
    background-color: #eeeeed;
}

.questions-form {
    padding: 100px 50px 50px 90px;
    background-color: white;
    border-radius: 5px 30px 10px 0;
}

.questions-form .text {
    margin-top: 100px;
    float: left;
    width: 35%;
}

.questions-form .text p:first-child {
    font-size: 25px;
    font-weight: bold;
    -webkit-transform:scale(1,1.1); /* Safari and Chrome */
    -moz-transform:scale(1,1.1); /* Firefox */
    -ms-transform:scale(1,1.1); /* IE 9 */
    -o-transform:scale(1,1.1); /* Opera */
    transform:scale(1,1.1); /* W3C */
}

.questions-form .text p:nth-child(2) {
    font-size: 10px;
    color: #4f394b;
    margin-bottom: 5px;
}

.questions-form form {
    margin-left: auto;
    width: 40%;
}

.questions-form .form-group {
    margin-bottom: 25px;
}

.questions-form label {
    font-size: 10px;
    color: #4f394b;
    margin-bottom: 5px;
}

.questions-form input,
.questions-form textarea {
    border-radius: 8px;
    background-color: #fbfbfb;
}

.questions-form input {
    height: 35px;
}

.questions-form textarea {
    resize: none;
    height: 55px;
}

.questions-form .btn-dark {
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    background-color: black;
    border-radius: 10px;
    padding: 15px 40px;
}

@media (max-width: 950px) {
    .img-4-text p:first-child {
        font-size: 30px
    }
}