.navbar-left-items {
    margin-top: 5px;
}

.navbar-brand {
    margin-right: auto;
}

#logo-img {
    width: 120px;
}

.navbar-tel {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.nav-links {
    margin-left: auto;
}

.back-call-button {
    max-width: 130px;
    text-align: center;
}

.nav-pills .nav-link.active {
    background-color: #ffe500;
    color: black;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}