.navbar-left-items {
    margin-top: 5px;
}

.navbar-brand {
    margin-right: auto;
}

#logo-img {
    width: 120px;
}

.navbar-tel {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.nav-links {
    margin-left: auto;
}

.nav-links .nav-item:not(:first-child, :nth-child(2)) {
    margin-right: 20px;
}

.nav-links .nav-link {
    color: black;
}

span.stretch {
    font-size: 10px;
    display:inline-block;
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    transform:scale(2,1); /* W3C */
}

.back-call-button {
    max-width: 130px;
    text-align: center;
}

.nav-pills .nav-link.active {
    background-color: #ffe500;
    color: black;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}