.navbar-container {
    padding-right: 0;
    padding-left: 55px;
}

.navbar-left-items {
    margin-top: 5px;
}

.navbar-brand {
    margin-right: auto;
}

#logo-img {
    width: 120px;
}

.navbar-tel {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.nav-links {
    margin-left: auto;
}

.nav-links .nav-item:not(:first-child, :nth-child(2)) {
    margin-right: 20px;
}

.nav-links .nav-link {
    color: black;
}

span.stretch {
    font-size: 10px;
    display:inline-block;
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    transform:scale(2,1); /* W3C */
}

.back-call-button {
    max-width: 130px;
    text-align: center;
}

.btn-warning {
    border-radius: 15px;
    background-color: #ffe500;
    border-color: #ffe500;
    color: black;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}

.nav-links .btn-warning {
    max-width: 130px;
    text-align: center;
}

.breadcrumb {
    margin-top: 40px;
    padding-left: 50px;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: unset;
}

.breadcrumb-item+.breadcrumb-item::before
{
    padding-right: unset;
}

.breadcrumb-item,
.breadcrumb-item a {
    text-decoration: none;
    color: gray;
    font-size: 11px;
    font-style: italic;
}

.request {
    position: relative;
    margin-top: -65px;
}

.request span.flattened {
    display:inline-block;
    -webkit-transform:scale(1,1.1); /* Safari and Chrome */
    -moz-transform:scale(1,1.1); /* Firefox */
    -ms-transform:scale(1,1.1); /* IE 9 */
    -o-transform:scale(1,1.1); /* Opera */
    transform:scale(1,1.1); /* W3C */
}

.request-text {
    position: absolute;
    color: white;
    margin-top: 8%;
    margin-left: 57%;
}

.request-text p:first-child {
    font-weight: 600;
    font-size: 45px;
}

.request-text p:nth-child(2) {
    font-weight: 600;
    font-size: 20px;
    margin-top: -0.6em;
}

.request-text ul {
    font-weight: 600;
    font-size: 18px;
    padding-left: 1.5em;
    margin-top: 2em;
    margin-bottom: 50px;
}

.request-text .btn-warning {
    padding: 10px 20px;
}

.request img {
    width: 100%;
}

.text-section {
    padding: 50px 50px 20px 100px;
    font-size: 20px;
}

.text-section p:nth-child(3){
    margin-bottom: 0;
}

.service {
    margin-bottom: 100px;
}

.service .btn-warning {
    margin-top: 30px;
    position: relative;
    width: 400px;
    font-size: 20px;
    padding: 15px 0;
    border-radius: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}

.requirements {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}

.requirements h2 {
    font-size: 35px;
    font-weight: bold;
}

.requirements .lumbers {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.requirements .lumber-1,
.requirements .lumber-2
{
    position: relative;
    height: 290px;
    width: 350px;
    border-radius: 30px;
    background-color: #2b2b2b;
    color: white;
    font-size: 20px;
}

.requirements .lumbers img {
    margin-top: 70px;
    margin-bottom: 20px;
    width: 50px;
}

.supplies {
    background-color: #2b2b2b;
    color: white;
    margin-top: 80px;
    padding-top: 10px;
}

.supplies h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.supplies .lumbers {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.supplies .lumbers p {
    font-size: 20px;
    text-align: center;
}

.supplies .lumbers img{
    width: 330px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.supplies .lumbers div.supplies-link {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.supplies .lumbers div.supplies-link a {
    padding-bottom: 2px;
}

.supplies .lumbers div.supplies-link a:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
}

.about {
    background-color: #ffe500;
    padding: 40px 0 30px 70px;
}

.about h2 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
    -webkit-transform:scale(1,1.1); /* Safari and Chrome */
    -moz-transform:scale(1,1.1); /* Firefox */
    -ms-transform:scale(1,1.1); /* IE 9 */
    -o-transform:scale(1,1.1); /* Opera */
    transform:scale(1,1.1); /* W3C */
}

.about-content {
    position: relative;
}

.about .text {
    width: 45%;
    font-size: 25px;
    line-height: 30px;
}

.about .text span {
    font-weight: bold;
}

.about img {
    position: absolute;
    width: 490px;
    top: 0;
    right: 60px;
}

.questions {
    padding: 150px 60px 50px 60px;
    background-color: #eeeeed;
}

.questions-form {
    padding: 100px 50px 50px 90px;
    background-color: white;
    border-radius: 5px 30px 10px 0;
}

.questions-form .text {
    margin-top: 100px;
    float: left;
    width: 35%;
}

.questions-form .text p:first-child {
    font-size: 25px;
    font-weight: bold;
    -webkit-transform:scale(1,1.1); /* Safari and Chrome */
    -moz-transform:scale(1,1.1); /* Firefox */
    -ms-transform:scale(1,1.1); /* IE 9 */
    -o-transform:scale(1,1.1); /* Opera */
    transform:scale(1,1.1); /* W3C */
}

.questions-form .text p:nth-child(2) {
    font-size: 10px;
    color: #4f394b;
    margin-bottom: 5px;
}

.questions-form form {
    margin-left: auto;
    width: 40%;
}

.questions-form .form-group {
    margin-bottom: 25px;
}

.questions-form label {
    font-size: 10px;
    color: #4f394b;
    margin-bottom: 5px;
}

.questions-form input,
.questions-form textarea {
    border-radius: 8px;
    background-color: #fbfbfb;
}

.questions-form input {
    height: 35px;
}

.questions-form textarea {
    resize: none;
    height: 55px;
}

.questions-form .btn-dark {
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    background-color: black;
    border-radius: 10px;
    padding: 15px 40px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 70px 100px 90px 60px;
    background-color: black;
    color: white;
}

footer .title-img {
    width: 250px;
    padding: 60px 0 15px 0;
}

footer .footer-title p {
    font-size: 16px;
    font-weight: bold;
}

footer .footer-contacts img {
    width: 30px;
    margin-right: 15px;
}

footer .img-wrapper {
    width: 30px;
    margin-right: 15px;
    position: relative;
}

footer .img-wrapper img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

footer .footer-contacts span {
    font-size: 14px;
    font-weight: bold;
}

footer .footer-phone {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

footer .phpne-text span {
    display: block;
}

@media (max-width: 950px) {
    .img-4-text p:first-child {
        font-size: 30px
    }
}